@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

@media only screen and (max-height: 675px) {
    #egBox {
        display: none;
    }
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 0.75vw;
}

#lineCanvas {
    position: fixed;
    z-index: 2;
    pointer-events: none;
}

map {
    display: none;
}

.infoBox {
    position: fixed;
    display: block;
    border: 3px solid #DD3C40;
    border-radius: 10px;
    width: 28vw;
    right: 6vw;
    padding-bottom: 1vh;
}

#priceBox {
    top: 5vh;
}

#egBox {
    bottom: 5vh;
}

#infoDesc {
    display: grid;
    grid-template-columns: 5vw 20vw;
}

#egDesc {
    padding: 20px 10px 20px 10px;
    height: 25vh;
    text-align: center;
}

.header {
    background-color: #DD3C40;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 3vh 0 3vh 0;
}

.price {
    text-align: left;
    padding-top: 13px;
    padding-left: 15px;
    font-size: 15px;
}

h2 {
    margin-bottom: 0;
}

h3 {
    margin-top: 2px;
}

#arrow {
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #DD3C40;
    position: fixed;
    top: 8vh;
    right: 34vw;
}

#exampleImg {
    display: block;
    height: 20vh;
    width: auto;
    text-align: center;
    margin: auto;
}